<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sefa Kurtuldu Instructor e52040 </title>
</head>
<body>
    <div>
    <h1>Sefa</h1>
    <p>sefa <span> developer </span>  kurtuldu <strong>Instructor <em>e52040</em> </strong></p>
    <ul>
        <li>
            <p><a href="www.google.com"></a> google</p>
        </li>
    </ul>


    </div>
</body>
</html>